.location__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.location__wrapper {
  max-height: 700px;
}

.location__img {
  width: 100%;
  object-fit: cover;
}

.location-button-group-wrapper {
  width: 400px;
}

/* For small devices */
@media screen and (max-width: 640px) {
  .location-button-group-wrapper {
    width: 350px;
  }
}

.section__parking {
  font-size: var(--text-3xl);
  color: var(--text-color);
  margin-top: 1.5rem;
  line-height: 1.8;
  text-align: center;
}

.section__parking-title {
  font-size: var(--text-4xl);
  font-weight: 600;
  margin-bottom: 0.75rem;
}
