.location__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.location__wrapper {
  max-height: 700px;
}

.location__img {
  width: 100%;
  object-fit: cover;
}

.location-button-group-wrapper {
  width: 400px;
}

/* For small devices */
@media screen and (max-width: 640px) {
  .location-button-group-wrapper {
    width: 350px;
  }
}

.section__parking {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-top: 1rem;
  line-height: 1.6;
}

.section__parking-title {
  font-size: var(--normal-font-size);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
